.search-form {
    width: 500px;
}

.container {
    margin-left: 0;
    margin-right: 0;
}

.website-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.website-card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 2px solid black;
    border-radius: 2%;
    padding: 16px;
    height: 350px;
    background-color: rgb(208, 208, 208);

}


.category-badge {
    display: inline-block;
    margin-left: 5px;
}

.website-card-image {
    width: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 2%;
    transition: transform 0.1s ease-in-out;
}

.website-card-image:hover {
    transform: scale(2.0);
}

body {
    background-color: rgb(240, 250, 253);
}


.bg-canvas {
    position: fixed;
    z-index: -1;
}